
node_modules
dist
build
.vercel
coverage
.DS_Store
.env
.env.*
!.env.example

# Uploads
uploads/avatars/
uploads/bulk/
uploads/proofs/

node_modules/
dist/
build/
.vercel/

knk-backend/node_modules/
knk-backend/.env
knk-backend/uploads/
knk-backend/uploads/avatars/
knk-backend/uploads/proofs/

knk-frontend/node_modules/
knk-frontend/.env
knk-frontend/dist/

